.list-group-item{
    display: inline-block;
    list-style: none;
    padding-left: 0px;
   
}
.buttonSpacing{
    border-style: none; margin-left: 100px;
    padding: 2px;
  
}
a{
    color: orange;
    cursor: pointer;
}
.glyphicon {
color: black;

}

.gap{
 
    left: 10px;
}